<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>


<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-lg-8">
                <div class="card">
                    <div class="card-body">

                        <form>

                            <div class="info-widget">
                                <h4 class="card-title">Checkout</h4>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group card-label">
                                            <label>Your Name</label>
                                            <input class="form-control" [value]="BuyerName" disabled name="firstName"
                                                type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group card-label">
                                            <label>Phone</label>
                                            <input class="form-control" [(ngModel)]="orderDto.Phone" name="phone"
                                                type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group card-label">
                                            <label>Address</label>
                                            <input class="form-control" [(ngModel)]="orderDto.Address" name="phone"
                                                type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group card-label">
                                            <label>Quantity</label>
                                            <input class="form-control" (keyup)="quantityCheck()"
                                                [(ngModel)]="orderDto.Copies" name="phone" type="number">
                                        </div>
                                        <p style="color: red;">{{quantityError}}</p>
                                    </div>
                                </div>
                                <div><button class="btn btn-block btn-primary" (click)="PlaceOrder()">Place Order</button></div>
                                <p style="color: red;">{{formError}}</p>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
            <div class="col-md-5 col-lg-4 theiaStickySidebar">

                <div class="card booking-card">
                    <div class="card-header">
                        <h4 class="card-title">Selected Book</h4>
                    </div>
                    <div class="card-body">

                        <div class="booking-doc-info">
                            <a class="booking-doc-img">
                                <img src="assets/img/defaultCover.png"  alt="User Image">
                            </a>
                            <div class="booking-info">
                                <h4><a>{{book?.title}}</a></h4>

                                <div class="clinic-details">
                                    <p class="doc-location"><i class="far fa-user"></i> {{book?.authorName}}
                                    </p>
                                    <p class="doc-location"><i class="far fa-user"></i> {{book?.publisherName}}</p>
                                    <p class="doc-location"><i class="fas fa-money-bill"></i> {{book?.price}}</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>