USE [master]
GO
/****** Object:  Database [BookSystem]    Script Date: 02-Jul-22 6:09:56 pm ******/
CREATE DATABASE [BookSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BookSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BookSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BookSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookSystem]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 02-Jul-22 6:09:57 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointment]    Script Date: 02-Jul-22 6:09:57 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DoctorId] [int] NULL,
	[PatientId] [int] NULL,
	[Time] [varchar](255) NULL,
	[DoctorName] [varchar](30) NULL,
	[UserName] [varchar](30) NULL,
	[status] [int] NULL,
	[Location] [varchar](100) NULL,
	[phone] [varchar](20) NULL,
	[date] [varchar](20) NULL,
	[SalonName] [varchar](50) NULL,
	[SalonLogo] [nvarchar](max) NULL,
	[SalonId] [int] NULL,
 CONSTRAINT [PK_Appointment] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AvailSlots]    Script Date: 02-Jul-22 6:09:57 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AvailSlots](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BarberID] [int] NOT NULL,
	[Date] [nvarchar](max) NULL,
	[S1] [int] NULL,
	[S2] [int] NULL,
	[S3] [int] NULL,
	[S4] [int] NULL,
	[S5] [int] NULL,
	[S6] [int] NULL,
	[S7] [int] NULL,
	[S8] [int] NULL,
 CONSTRAINT [PK_AvailSlots] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 02-Jul-22 6:09:57 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Isbn] [int] NULL,
	[Title] [varchar](50) NOT NULL,
	[Price] [int] NOT NULL,
	[Cover] [nvarchar](max) NULL,
	[CopiesInStock] [int] NULL,
	[PublisherName] [varchar](50) NOT NULL,
	[AuthorName] [varchar](50) NULL,
	[CreatedBy] [int] NOT NULL,
	[StoreId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookLibrary]    Script Date: 02-Jul-22 6:09:57 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookLibrary](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[Author] [varchar](50) NULL,
	[Publisher] [varchar](50) NULL,
	[Link] [varchar](550) NULL,
	[Owner] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoctorSpecialist]    Script Date: 02-Jul-22 6:09:57 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorSpecialist](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SpecialistId] [int] NULL,
	[BarberId] [int] NULL,
 CONSTRAINT [PK_DoctorSpecialist] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 02-Jul-22 6:09:57 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[feedback] [varchar](250) NULL,
	[UserId] [int] NULL,
	[StoreId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Files]    Script Date: 02-Jul-22 6:09:57 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Files](
	[DocumentId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[FileType] [varchar](100) NULL,
	[DataFiles] [varbinary](max) NULL,
	[CreatedOn] [datetime] NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK_Files] PRIMARY KEY CLUSTERED 
(
	[DocumentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 02-Jul-22 6:09:57 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BookId] [int] NULL,
	[OrderBy] [int] NULL,
	[Copies] [int] NOT NULL,
	[Status] [int] NULL,
	[Date] [varchar](30) NULL,
	[Address] [varchar](50) NULL,
	[Phone] [varchar](20) NULL,
	[Bill] [int] NULL,
	[BookCreatedBy] [int] NULL,
 CONSTRAINT [PK__Orders__3214EC27DBD6A475] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestBook]    Script Date: 02-Jul-22 6:09:57 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestBook](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[AuthorName] [varchar](30) NULL,
	[PublisherName] [varchar](30) NULL,
	[Edition] [varchar](15) NULL,
	[Address] [varchar](50) NULL,
	[RequestBy] [int] NULL,
	[AcceptedBy] [int] NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salon]    Script Date: 02-Jul-22 6:09:57 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salon](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Address] [nvarchar](100) NULL,
	[SalonLogo] [nvarchar](max) NULL,
	[RegisterBy] [int] NOT NULL,
	[Introduction] [nvarchar](max) NULL,
	[About] [nvarchar](max) NULL,
 CONSTRAINT [PK_Salon] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specialist]    Script Date: 02-Jul-22 6:09:57 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specialist](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Specialist] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSlot]    Script Date: 02-Jul-22 6:09:57 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlot](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DoctorId] [int] NULL,
	[Date] [datetime2](7) NULL,
	[AppointmentId] [int] NULL,
	[TimeSlots] [int] NOT NULL,
 CONSTRAINT [PK_TimeSlot] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLoginType]    Script Date: 02-Jul-22 6:09:57 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLoginType](
	[UserLoginTypeId] [int] IDENTITY(1,1) NOT NULL,
	[UserLoginName] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserLoginType] PRIMARY KEY CLUSTERED 
(
	[UserLoginTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserMultiFactors]    Script Date: 02-Jul-22 6:09:57 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMultiFactors](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[AccessIP] [nvarchar](max) NULL,
	[EmailToken] [nvarchar](max) NULL,
	[CreatedOn] [datetime2](7) NULL,
	[UpdatedOn] [datetime2](7) NULL,
 CONSTRAINT [PK_UserMultiFactors] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 02-Jul-22 6:09:57 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Gender] [nvarchar](max) NULL,
	[IsEmailVerified] [bit] NOT NULL,
	[Phone] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[LoginFailureCount] [int] NOT NULL,
	[CreatedOn] [datetime2](7) NULL,
	[CreatedBy] [int] NULL,
	[UpdatedOn] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
	[UserLoginTypeId] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
	[SalonId] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WishList]    Script Date: 02-Jul-22 6:09:57 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WishList](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BookId] [int] NOT NULL,
	[WishBy] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

INSERT [dbo].[Book] ([ID], [Isbn], [Title], [Price], [Cover], [CopiesInStock], [PublisherName], [AuthorName], [CreatedBy], [StoreId]) VALUES (2, 367362, N'Urdu', 500, NULL, 92, N'Ali Akbar', N'Ghulam Muhammad', 3, 1)
INSERT [dbo].[Book] ([ID], [Isbn], [Title], [Price], [Cover], [CopiesInStock], [PublisherName], [AuthorName], [CreatedBy], [StoreId]) VALUES (5, 298389, N'Forty Rules of Love', 900, NULL, 95, N'The printing press', N'Joseph amli', 4, 2)
INSERT [dbo].[Book] ([ID], [Isbn], [Title], [Price], [Cover], [CopiesInStock], [PublisherName], [AuthorName], [CreatedBy], [StoreId]) VALUES (6, 233224, N'Little stars', 300, NULL, 45, N'Alvi joe', N'Mark joe', 4, 2)
SET IDENTITY_INSERT [dbo].[Book] OFF
GO
SET IDENTITY_INSERT [dbo].[BookLibrary] ON 

INSERT [dbo].[BookLibrary] ([ID], [Title], [Author], [Publisher], [Link], [Owner]) VALUES (2, N'The World Book', N'Devis John', N'The Times Press', N'https://archive.org/details/the-world-book-encyclopedia/The_World_Book_encyclopedia%20%282%29/page/n9/mode/2up', 6)
SET IDENTITY_INSERT [dbo].[BookLibrary] OFF
GO
SET IDENTITY_INSERT [dbo].[DoctorSpecialist] ON 

INSERT [dbo].[DoctorSpecialist] ([ID], [SpecialistId], [BarberId]) VALUES (1, 1, 3)
SET IDENTITY_INSERT [dbo].[DoctorSpecialist] OFF
GO
SET IDENTITY_INSERT [dbo].[Files] ON 

SET IDENTITY_INSERT [dbo].[Files] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([ID], [BookId], [OrderBy], [Copies], [Status], [Date], [Address], [Phone], [Bill], [BookCreatedBy]) VALUES (7, 2, 1, 3, 2, N'21-Jun-22 8:35:44 pm', N'street 110 sadar bazar cantt lahore', N'03468170841', 1500, 3)
INSERT [dbo].[Orders] ([ID], [BookId], [OrderBy], [Copies], [Status], [Date], [Address], [Phone], [Bill], [BookCreatedBy]) VALUES (8, 5, 1, 1, 3, N'21-Jun-22 8:36:09 pm', N'street 110 sadar bazar cantt lahore', N'03468170841', 900, 4)
INSERT [dbo].[Orders] ([ID], [BookId], [OrderBy], [Copies], [Status], [Date], [Address], [Phone], [Bill], [BookCreatedBy]) VALUES (9, 8, 1, 1, 3, N'21-Jun-22 8:36:37 pm', N'street 110 sadar bazar cantt lahore', N'03468170841', 600, 5)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[RequestBook] ON 

INSERT [dbo].[RequestBook] ([Id], [Title], [AuthorName], [PublisherName], [Edition], [Address], [RequestBy], [AcceptedBy], [Status]) VALUES (3, N'The Biology of Life', N'Mark Ally', N'The press of London', N'2020 E.A', N'street 110, sadar cantt lahore', 1, 2, 2)
INSERT [dbo].[RequestBook] ([Id], [Title], [AuthorName], [PublisherName], [Edition], [Address], [RequestBy], [AcceptedBy], [Status]) VALUES (4, N'Mathematics by Al gebra', N'Algebra khwarzmi', N'The London Pres', N'2019', N'street 110, sadar cantt lahore', 1, 3, 2)
INSERT [dbo].[RequestBook] ([Id], [Title], [AuthorName], [PublisherName], [Edition], [Address], [RequestBy], [AcceptedBy], [Status]) VALUES (5, N'English By John', N'John Edvic', N'The London Press', N'2017.E', N'Sadar Cantt Lahore', 1, 2, 2)
SET IDENTITY_INSERT [dbo].[RequestBook] OFF
GO
SET IDENTITY_INSERT [dbo].[Salon] ON 

SET IDENTITY_INSERT [dbo].[Salon] OFF
GO
SET IDENTITY_INSERT [dbo].[Specialist] ON 

INSERT [dbo].[Specialist] ([ID], [Name]) VALUES (1, N'Store')
SET IDENTITY_INSERT [dbo].[Specialist] OFF
GO
SET IDENTITY_INSERT [dbo].[UserMultiFactors] ON 

INSERT [dbo].[UserMultiFactors] ([ID], [UserID], [AccessIP], [EmailToken], [CreatedOn], [UpdatedOn]) VALUES (1, 1, N'::1', N'24796b', CAST(N'2022-06-19T21:05:19.5083814' AS DateTime2), CAST(N'2022-06-19T21:05:19.5084715' AS DateTime2))
INSERT [dbo].[UserMultiFactors] ([ID], [UserID], [AccessIP], [EmailToken], [CreatedOn], [UpdatedOn]) VALUES (2, 2, N'::1', N'c23ab3', CAST(N'2022-06-19T21:14:41.3668591' AS DateTime2), CAST(N'2022-06-19T21:14:41.3668606' AS DateTime2))
INSERT [dbo].[UserMultiFactors] ([ID], [UserID], [AccessIP], [EmailToken], [CreatedOn], [UpdatedOn]) VALUES (3, 3, N'::1', N'6dd8ff', CAST(N'2022-06-19T21:21:03.6991097' AS DateTime2), CAST(N'2022-06-19T21:21:03.6991165' AS DateTime2))
SET IDENTITY_INSERT [dbo].[UserMultiFactors] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [Email], [Password], [FirstName], [LastName], [Gender], [IsEmailVerified], [Phone], [IsActive], [LoginFailureCount], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [UserLoginTypeId], [Description], [Address], [Latitude], [Longitude], [SalonId]) VALUES (1, N'mehranayub3@gmail.com', N'123@a123', N'Mehran', N'Ayub', NULL, 1, N'03468170841', 1, 0, CAST(N'2022-06-19T21:05:15.7683601' AS DateTime2), 1, CAST(N'2022-06-21T13:50:15.9501569' AS DateTime2), 1, 1, NULL, N'Lahore', 0, 0, 0)
INSERT [dbo].[Users] ([ID], [Email], [Password], [FirstName], [LastName], [Gender], [IsEmailVerified], [Phone], [IsActive], [LoginFailureCount], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [UserLoginTypeId], [Description], [Address], [Latitude], [Longitude], [SalonId]) VALUES (2, N'haider@gmail.com', N'123@a123', N'Ali', N'Husnain', NULL, 1, N'03468170841', 1, 0, CAST(N'2022-06-19T21:14:41.3404288' AS DateTime2), 1, CAST(N'2022-06-27T11:57:30.2870038' AS DateTime2), 1, 1, NULL, N'Lahore', 0, 0, 0)
INSERT [dbo].[Users] ([ID], [Email], [Password], [FirstName], [LastName], [Gender], [IsEmailVerified], [Phone], [IsActive], [LoginFailureCount], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [UserLoginTypeId], [Description], [Address], [Latitude], [Longitude], [SalonId]) VALUES (3, N'umar@gmail.com', N'123@a123', N'Umar', N'Deol', NULL, 1, N'03468170841', 1, 0, CAST(N'2022-06-19T21:21:03.6539519' AS DateTime2), 1, CAST(N'2022-06-20T16:00:58.0390045' AS DateTime2), 1, 2, NULL, N'Lahore', 0, 0, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[WishList] ON 

INSERT [dbo].[WishList] ([ID], [BookId], [WishBy]) VALUES (1, 2, 1)
INSERT [dbo].[WishList] ([ID], [BookId], [WishBy]) VALUES (2, 6, 1)
SET IDENTITY_INSERT [dbo].[WishList] OFF
GO
/****** Object:  Index [IX_DoctorSpecialist_SpecialistId]    Script Date: 02-Jul-22 6:09:58 pm ******/
CREATE NONCLUSTERED INDEX [IX_DoctorSpecialist_SpecialistId] ON [dbo].[DoctorSpecialist]
(
	[SpecialistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TimeSlot_AppointmentId]    Script Date: 02-Jul-22 6:09:58 pm ******/
CREATE NONCLUSTERED INDEX [IX_TimeSlot_AppointmentId] ON [dbo].[TimeSlot]
(
	[AppointmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserMultiFactors_UserID]    Script Date: 02-Jul-22 6:09:58 pm ******/
CREATE NONCLUSTERED INDEX [IX_UserMultiFactors_UserID] ON [dbo].[UserMultiFactors]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TimeSlot] ADD  DEFAULT ((0)) FOR [TimeSlots]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [Latitude]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [Longitude]
GO
ALTER TABLE [dbo].[AvailSlots]  WITH CHECK ADD  CONSTRAINT [FK_AvailSlots_Users_BarberID] FOREIGN KEY([BarberID])
REFERENCES [dbo].[Users] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AvailSlots] CHECK CONSTRAINT [FK_AvailSlots_Users_BarberID]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[BookLibrary]  WITH CHECK ADD FOREIGN KEY([Owner])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[DoctorSpecialist]  WITH CHECK ADD FOREIGN KEY([BarberId])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[DoctorSpecialist]  WITH CHECK ADD  CONSTRAINT [FK_DoctorSpecialist_Specialist_SpecialistId] FOREIGN KEY([SpecialistId])
REFERENCES [dbo].[Specialist] ([ID])
GO
ALTER TABLE [dbo].[DoctorSpecialist] CHECK CONSTRAINT [FK_DoctorSpecialist_Specialist_SpecialistId]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([StoreId])
REFERENCES [dbo].[Salon] ([ID])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Files]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK__Orders__BookId__5812160E] FOREIGN KEY([BookId])
REFERENCES [dbo].[Book] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK__Orders__BookId__5812160E]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK__Orders__OrderBy__59063A47] FOREIGN KEY([OrderBy])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK__Orders__OrderBy__59063A47]
GO
ALTER TABLE [dbo].[RequestBook]  WITH CHECK ADD FOREIGN KEY([AcceptedBy])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[RequestBook]  WITH CHECK ADD FOREIGN KEY([RequestBy])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Salon]  WITH CHECK ADD  CONSTRAINT [FK_Salon_Users_RegisterBy] FOREIGN KEY([RegisterBy])
REFERENCES [dbo].[Users] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Salon] CHECK CONSTRAINT [FK_Salon_Users_RegisterBy]
GO
ALTER TABLE [dbo].[TimeSlot]  WITH CHECK ADD  CONSTRAINT [FK_TimeSlot_Appointment_AppointmentId] FOREIGN KEY([AppointmentId])
REFERENCES [dbo].[Appointment] ([ID])
GO
ALTER TABLE [dbo].[TimeSlot] CHECK CONSTRAINT [FK_TimeSlot_Appointment_AppointmentId]
GO
ALTER TABLE [dbo].[UserMultiFactors]  WITH CHECK ADD  CONSTRAINT [FK_UserMultiFactors_Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserMultiFactors] CHECK CONSTRAINT [FK_UserMultiFactors_Users_UserID]
GO
ALTER TABLE [dbo].[WishList]  WITH CHECK ADD FOREIGN KEY([BookId])
REFERENCES [dbo].[Book] ([ID])
GO
ALTER TABLE [dbo].[WishList]  WITH CHECK ADD FOREIGN KEY([WishBy])
REFERENCES [dbo].[Users] ([ID])
GO
USE [master]
GO
