<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <h2 class="breadcrumb-title">Your Order History</h2>

            </div>
        </div>
    </div>
</div>




<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div style="color:red;">{{this.errors}}</div>
            <div class="col-md-12 col-lg-12 col-xl-12">
                <div class="appointments">

                    <div class="appointment-list" *ngFor="let item of orders">
                        <div class="profile-info-widget">
                            <a href="patient-profile.html" class="booking-doc-img">
                                <img [src]="item?.salonLogo" onerror="this.src='assets/img/defaultCover.png'"
                                    alt="User Image">

                            </a>
                            <div class="profile-det-info">
                                <h3><a>{{item?.title}}</a></h3>
                                <div class="patient-details">
                                    <h5 style="color: red;"><i class="far fa-user"></i>{{item?.author}}</h5>
                                    <h5><i class="fas fa-sort-amount-up"></i> {{item?.copies}}</h5>
                                    <h5><i class='fas fa-money-bill'></i> {{item?.bill}}</h5>
                                    <h5><i class="fa fa-calendar"></i>{{item?.date}}</h5>
                                    <h5><i class="fa fa-passport"></i>{{item?.trackId}}</h5>

                                </div>
                            </div>
                        </div>
                        <div class="appointment-action">

                            <div *ngIf="item.status==1;">
                                <a (click)="CancelAppointment(item.id)" class="btn btn-sm bg-danger-light">
                                    <i class="fas fa-times"></i> Cancel
                                </a>
                            </div>
                            <div *ngIf="item.status==2;">
                                <button type="button" style="background-color: #007bff;"
                                    class="btn btn-primary">Accepted</button>
                            </div>
                            <div *ngIf="item.status==3;">
                                <div>
                                <button type="button" class="btn btn-success float-right">Delivered</button>
                            </div>
                            <div class="mt-5">

                                <input  size="10" #feed name="feed" type="text">
                                <button type="button mt-3" (click)="AddFeedback(item.bookid,feed.value)" (click)="feed.value=''" class="btn btn-warning">Feedback</button>
                            </div>
                            </div>

                            <!-- <a class="apt-btn" (click)="CancelAppointment(item.id)">Book Appointment</a> -->
                        </div>

                        
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>